<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSMantisConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VSMantisConnect.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>Your Mantis username</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value>Your Mantis base url</value>
            </setting>
            <setting name="EndPointAddress" serializeAs="String">
                <value>/api/soap/mantisconnect.php</value>
            </setting>
            <setting name="CustomizeEndPointAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ExtensionConfigured" serializeAs="String">
                <value>False</value>
            </setting>
        </VSMantisConnect.Properties.Settings>
    </userSettings>
</configuration>